*.DS_Store
R_temps
R/*_old.R
R/*_test.R
R_results/*_T
R_results/*_F
csv/temps/*.csv
*.Rhistory
*.Rapp.history
*.swp
*.pptx
*_old.png
results/clinical_trials/common_drugs_bar_test.pdf
results/clinical_trials/study_design_bar_test.pdf
results/clinical_trials/study_type_bar_test.pdf
results/global_trends/parts
results/ToC
results/organ_links
results/organ_types
results/csv/table_S*
CC
